svg {
  margin-top: 5rem;
  align-items: center;
  height:300px;
  width: 450px;
  background-color: lightgrey;
  overflow: visible;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}